<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 	<key>LSEnvironment</key>
  	<dict>
 		<key>PYTHONPATH</key>
		<string>/Users/gordonlo/Library/Python:</string>
	</dict>
	<key>CFBundleExecutable</key>
	<string>MuSync</string>
	<key>CFBundleIconFile</key>
	<string>MuSync.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.pekingducklabs.musync</string>
	<key>CFBundleName</key>
	<string>MuSync</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>musync</string>
	<key>CFBundleVersion</key>
	<string>0.0.0</string>
</dict>
</plist>

